/* Generics */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
}

/* Utilities */
#container {
  width: 75%;
  margin: 0 auto;
}

p,
a {
  color: grey;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

/* Header */
#container header {
  text-transform: uppercase;
}

#logo {
  height: 80px;
}

header ul {
  padding: 25px 0;
}
header li {
  display: inline-block;
  margin-right: 10px;
}
header a {
  text-decoration: none;
}

/* Main-container */
.main-container {
  padding: 25px 0;
}

#jumbotron {
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#jumbotron .jumbo-cont {
  width: 50%;
  position: absolute;
  bottom: 100px;
  left: 50px;
  color: white;
  font-weight: 100;
}
#jumbotron p {
  color: white;
}

/* Section */
